@media (max-width: 576px) {  
    html {
        font-size: 8px !important;
    }    
}

@media (min-width: 576px) {  
    html {
        font-size: 10px !important;
    }    
}
 
@media (min-width: 768px) {  
    html {
        font-size: 14px !important;
    }    
}

@media (min-width: 992px) { 
    html {
        font-size: 17px !important;
    }    
}

@media (min-width: 1200px) {  
    html {
        font-size: 17px !important;
    }        
}

@media (min-width: 1400px) {  
    html {
        font-size: 20px !important;
    }        
}
 
 
@media (max-width: 950px) { 
    html {
    }    
}